# Ignorar pastas geradas automaticamente
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Ignorar dados de build que não precisam estar no Git
sysinfo.txt
*.apk
*.unitypackage
*.aab

# VS, JetBrains e IDEs
.vs/
.idea/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# MacOS
.DS_Store

# Meta arquivos gerados para os arquivos acima (que já estão ignorados)
*.pidb.meta
*.pdb.meta
*.mdb.meta

# JetBrains Rider
[Aa]ssets/Plugins/Editor/JetBrains/

# Ignorar artefatos personalizados
**/[Aa]rtifactDB/

# AssetStore Tools (se não for usar)
# /Assets/AssetStoreTools*

# Exceção: manter os .meta dos arquivos versionados
!/[Aa]ssets/**/.meta